# This is Git's per-user configuration file.
[user]
	name = kkawamura
	email = kkawamura@logos.t.u-tokyo.ac.jp
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
	recurseSubmodules = check
