! X server settings
! See: https://wiki.archlinux.jp/index.php/HiDPI#X_Resources
Xft.dpi: 110
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb